contact_app/__init__.pyc
contact_app/__pycache__/
contact_app/forms.pyc
contact_app/urls.pyc
contact_app/migrations/__pycache__/
contact_app/views.pyc
ecms_app/__init__.pyc
ecms_app/migrations/__pycache__/
ecms_app/*.pyc
ecms_app/__pycache__/
ecms_course_create_app/__init__.pyc
ecms_course_create_app/migrations/__pycache__/
ecms_course_create_app/models.pyc
geckodriver.log
library_app/__pycache__/
library_app/migrations/__pycache__/
tests_app/__pycache__/
tests_app/migrations/__pycache__/
ustdy/__init__.pyc
ustdy/__pycache__/
ustdy/conf/__init__.pyc
ustdy/conf/__pycache__/
ustdy/conf/*.pyc
ustdy/settings.pyc
ustdy/urls.pyc
ustdy/website_settings.pyc
ustdy/wsgi.pyc
ustdy_app/*.pyc
ustdy_app/__pycache__/
ustdy_app/migrations/__pycache__/
utils_app/__init__.pyc
utils_app/__pycache__/
utils_app/migrations/__pycache__/
utils_app/utilities.pyc
