{% extends "base.html" %}
{% block title %}Section {{ section.title }}{% endblock %}
{% block content %}

{% load static %}

<div class="row page-header">
  <div class="col-md-2">
     <a href="#">
			{% if course.photo_file %}
           <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/{{course.owner.id}}/{{course.photo_file}}" alt="Course Image">
			{% else %}
		       <img class="img-responsive img-hover" src="{% static "img/no-thumb.png" %}" alt="Course Image">	
			{% endif %}
     </a>
  </div>
  <div class="col-md-10">
    <h3><a href="{% url 'elearncms:student_course_view' course.slug %}">{{course.title}}</a></h3>  
 </div>
</div>
<!-- /.row -->


<div class="row">
	<div class="col-md-3">
     <p class="lead"><strong>Module: {{module.title}}</strong></p>
			<div class="list-group">
			 {% for  s in module.module_sections.all %}
         <a href="{% url 'elearncms:student_course_detail_section_view' course.slug module.id s.id %}" {% if s.id == section.id %}class="list-group-item active" {% else %}class="list-group-item" {% endif %}>{{ s.title }}</a>
			 {% endfor %}
			</div>
			 <p class="lead"><strong>Module Quizzes</strong></p>
			<div class="list-group">
				{% for q in module.module_quiz.all %}
					<a href="{% url 'elearncms:student_course_module_quiz_start_view' course.slug module.id q.id %}" 
{% if q.id == quiz_id %} class="list-group-item active" {% else %} class="list-group-item" {% endif %}>Quiz</a>
				{% endfor %}
			</div>
	</div>
	<div class="col-md-9">
		
			<h3 class="page-header">Overview</h3>
			<p>{{section.overview}}</p>
			<h3 class="page-header">Lecture Video</h3>
		<div align="center" class="embed-responsive embed-responsive-16by9">
			<video class="embed-responsive-item" controls>
				{% load static %}
				<source src="{{MEDIA_URL}}courses/{{course.owner.id}}/{{course.slug}}/{{module.slug}}/{{section.slug}}/assets/myvideo.ogv" type="video/ogg">
				Your browser does not support the video tag.
			</video> 
		</div>
		 
	</div>
</div>

{% endblock %}
