{% extends "base.html" %}
{% block title %}Quiz {{myquiz.quiz_id}} Overview{% endblock %}
{% block content %}
<div class="container-fluid">

 <div class="row page-header">
    <div class="col-md-10">
      <h4 class="ustdy-header"><a href="{% url 'ecms_app:course_overview_view' myquiz.lesson.module.course.slug %}">{{myquiz.lesson.module.course.title}}</a> | <a href="{% url 'ecms_app:module_overview_view' myquiz.lesson.module.course.slug myquiz.lesson.module.slug %}">{{myquiz.lesson.module.title}}</a> | <a href="{% url 'ecms_app:lesson_view' myquiz.lesson.module.course.slug myquiz.lesson.module.slug myquiz.lesson.slug %}"> {{myquiz.lesson.title}} </a> | Quiz {{myquiz.quiz_id}}
      </h4>
    </div>
  </div><!-- /.row -->

<div class="row">
  <div class="col-md-3">
		 <h2 class="ustdy-header page-header">Quizes</h2>
    	<div class="list-group">
      {% for quiz in myquiz.lesson.lesson_quizes.all %}
				{% if quiz.quiz_id == myquiz.quiz_id%}
       	<a href="#"  class="list-group-item active">Quiz {{quiz.quiz_id}}</a>	
				{% else %}
					<a href="{% url 'ecms_app:quiz_start_view' quiz.lesson.module.course.slug quiz.lesson.module.slug quiz.lesson.slug quiz.quiz_id %}"  class="list-group-item">Quiz {{quiz.quiz_id}}</a>	
				{% endif %}
      {% endfor %}
    </div>
   
  </div>
   <div class="col-md-9">
			<h2 class="ustdy-header page-header">Instructions</h2>
			<h4>This quiz contains {{myquiz.get_n_questions}} questions. Answer as many questions as possible.</h4>
			<div class="text-center">
				<a href="{% url 'ecms_app:quiz_view' myquiz.course.slug myquiz.module.slug myquiz.lesson.slug myquiz.quiz_id %}" role="button" class="btn btn-primary">Start Quiz</a>	
			</div>
	</div>
</div><!--/.row-->
</div>

{% endblock %}
