{% extends "base.html" %}
{% block title %}Ustudy Courses{% endblock %}
{% block content %}

 <!-- Page Heading/Breadcrumbs -->
<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="ustdy-header page-header"><strong>Online Courses</strong></h1>
   </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
		{% load static %}
    <img id="header-img" class="img-responsive center-block" src="{% static "img/uni_pic_I.jpg" %}" alt="">
   </div>
</div>

<div class="row">
	<div class="col-lg-12 page-header">
    <h3 class="ustdy-header-two text-center">At U<i class="fa fa-arrow-circle-right fa-1x"></i>study we believe in continuous education and learning. Apart from lectures delivered via Skype we develop and host on our platform various courses relevant to the subject of the modern scientist</h3>
</div>
</div>

<div class="row page-header">
 <div class="col-md-4 col-sm-6">
	 <a href="{% url 'ecms_app:course_overview' 'cfd-cpp' %}">
		 {% load static %}
		 <img id="course-1-img" class="img-responsive img-portfolio img-hover" src="{% static "img/cfd_pic_I.jpg" %}" alt="">
	 </a>
	 <div class="text-center">	
     <h4><a href="{% url 'ecms_app:course_overview' 'cfd-cpp'  %}"><strong>CFD With C++</strong></a></h4>
	 </div>
 </div>
 <div class="col-md-4 col-sm-6">
    <a href="{% url 'ecms_app:course_overview' 'descriptive-statistics-python'  %}">
      <img id="course-2-img" class="img-responsive img-portfolio img-hover" src="{% static "img/stats_pic_I.png" %}" alt="">
		</a>
		<div class="text-center">	
		<h4><a href="{% url 'ecms_app:course_overview' 'descriptive-statistics-python' %}"><strong>Descriptive Statistics With Python</strong></a></h4>
			</div>
 </div>
 <div class="col-md-4 col-sm-6">
    <a href="{% url 'ecms_app:course_overview' 'statistical-inference-python' %}">
			{% load static %}
      <img id="course-3-img" class="img-responsive img-portfolio img-hover" src="{% static "img/stats_pic_II.png" %}" alt="">
    </a>
		<div class="text-center">	
			<h4><a href="{% url 'ecms_app:course_overview' 'statistical-inference-python' %}"><strong>Statistical Inference With Python</strong></a></h4>
		</div>
</div> 
  </div>

<div class="row page-header">
	<div class="col-md-4 col-sm-6">
		<a href="{% url 'ecms_app:course_overview' 'introduction-supercomputing-cpp' %}">
     {% load static %}
     <img id="course-4-img" class="img-responsive img-portfolio img-hover" src="{% static "img/hpc_pic.jpeg" %}" alt="">
		</a>
		<div class="text-center">	
      <h4><a href="{% url 'ecms_app:course_overview' 'introduction-supercomputing-cpp' %}"><strong>Introduction To Supercomputing With C++</strong></a></h4>
		</div>
  </div>

  <div class="col-md-4 col-sm-6">
     <a href="{% url 'ecms_app:course_overview' 'machine-learning-cpp' %}">
        <img id="course-5-img" class="img-responsive img-portfolio img-hover" src="{% static "img/ml_pic.jpg" %}" alt="">
     </a>
		<div class="text-center">	
			<h4><a href="{% url 'ecms_app:course_overview' 'machine-learning-cpp' %}"><strong>Machine Learning With C++</strong></a></h4>
		</div>
  </div>

	<div class="col-md-4 col-sm-6">
    <a href="{% url 'ecms_app:course_overview' 'ai-cpp' %}">
		{% load static %}
     <img id="course-6-img" class="img-responsive img-portfolio img-hover" src="{% static "img/ai_pic.jpg" %}" alt="">
    </a>
		<div class="text-center">	
			<h4><a href="{% url 'ecms_app:course_overview' 'ai-cpp' %}"><strong>AI With C++</strong></a></h4>
		</div>
   </div> 
</div>

<div class="row">
	<div class="col-md-4 col-sm-6">
	 <a href="{% url 'ecms_app:course_overview' 'rigid-body-dynamics-simulation' %}">
   {% load static %}
    <img id="course-7-img" class="img-responsive img-portfolio img-hover" src="{% static "img/rgbd_sim_pic.jpg" %}" alt="">
	</a>
	<div class="text-center">	
    <h4><a href="{% url 'ecms_app:course_overview' 'rigid-body-dynamics-simulation' %}"><strong>Rigid Body Dynamics Simulation</strong></a></h4>
	</div>
 </div>
	<div class="col-md-4 col-sm-6">
   <a href="{% url 'ecms_app:course_overview' 'cpp-programming' %}">
     <img id="course-8-img" class="img-responsive img-portfolio img-hover" src="{% static "img/cpp_pic.jpg" %}" alt="">
   </a>
	 <div class="text-center">	
		 <h4><a href="{% url 'ecms_app:course_overview' 'cpp-programming' %}"><strong>C++ Programming</strong></a></h4>
	 </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <a href="{% url 'ecms_app:course_overview' 'java-programming' %}">
			{% load static %}
      <img id="course-9-img" class="img-responsive img-portfolio img-hover" src="{% static "img/java_pic.jpg" %}" alt="">
    </a>
		<div class="text-center">	
		 <h4><a href="{% url 'ecms_app:course_overview' 'java-programming' %}"><strong>Java Programming</strong></a></h4>
		</div>
   </div> 
</div>

{% endblock %}

           

                

                

                    

                    

                    

                   

                  

                  

  
