{% extends "base.html" %}
{% block title %}Ustudynow Courses Catalog{% endblock %}
{% block content %}

<!--<div class="container-fluid">
  <div class="row">
	  <div class="col-md-4 col-md-offset-4">
		  <form action="{% url 'library_app:library_index' %}" method="GET" role="search">
			  <div class="input-group">
         <input  type="text" class="form-control" maxlength="128" placeholder="What do you want to learn?" name="query" id="srch-term" autocomplete="off" required>
            <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
		  </form>
	  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
	   <div class="col-lg-12">
	      <hr/>
	     </div>
  </div>
</div>-->

<div class="container-fluid">
  <div class="row header-row">
    <div class="col-lg-12">
 	    <div class="text-center">
		      <h2 class="ustdy-header">Available Courses</h2>
	    </div>
    </div>
  </div>

<div class="row search-form-row">
  <div class="col-md-4 col-md-offset-4">
    <form action="{% url 'library_app:library_index' %}" method="GET" role="search">
      <div class="input-group">
       <input  type="text" class="form-control" maxlength="128" placeholder="What do you want to learn?" name="query" id="srch-term" autocomplete="off" required>
          <div class="input-group-btn">
             <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>
    </form>
  </div>
</div>


<div class="row">
 <div class="col-md-4">
   <p class="lead"><strong class="ustdy-header">Subjects</strong></p>
     <div class="list-group">
		  <a href="{% url 'ecms_app:ecms_courses_catalog_view' %}" {% if subject_title == "ALL" %} class="list-group-item active" {% else %} class="list-group-item" {% endif %}>All <span class="badge">{{total_counter}}</span></a>
			 {% for subject in subjects %}
         <a href="{% url 'ecms_app:ecms_courses_catalog_subject_view'  subject.0.slug %}" {% if subject_title == subject.0.title %}class="list-group-item active" {% else %}class="list-group-item" {% endif %}>{{ subject.0.title }} <span class="badge">{{subject.1}}</span></a>
			 {% endfor %}
  		</div>
	</div><!--/.col-md-3-->

<div class="col-md-8 img-portfolio">
							{% load static %}
							{% for course in courses %}
							 <div class="row">
									<div class="col-md-3">
									 {% if course.photo_file %}
										<img class="img-responsive img-hover" src="/{{COURSES_URL}}{{course.slug}}/{{course.photo_file_name}}" alt="Course Image">
									 {% else %}
		              	<img class="img-responsive img-hover" src="{% static "img/no-thumb.png" %}" alt="Course Image">
									 {% endif %}
									</div>
									 <div class="col-md-9">
										<h4><a href="{% url 'ecms_app:course_overview' course.slug %}">{{course.title}}</a></h4>
										<p><strong class="ustdy-header-two">Subject: </strong><a href="{% url 'ecms_app:ecms_courses_catalog_subject_view' course.subject.slug %}">{{ course.subject}}</a> <strong class="ustdy-header-two">Level: </strong> {{course.level}}</p>
									</div>
								</div>
								<hr/>
								{% empty %}
								<div class="row">
									<div class="col-md-9">
										<p><strong>No courses found for subject {{subject_title}}.</strong></p>
									</div>
								</div>

								<hr/>
								{% endfor %}

            </div>

</div><!--/.row-->
</div>
{% endblock %}
