{% extends "base.html" %}
{% block title %}Ustdynow Update Lesson Quiz{% endblock %}
{% block extra_head_js %}
{% load staticfiles %}
	<script src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
  <script>
		tinymce.init({ selector:'textarea',
									 plugins : 'advlist autolink link image lists charmap print preview'
		});

	</script>

{% endblock %}
{% block content %}
<div class="container-fluid" style="background-color:#FFFFFF;">

{% if messages %}
<div class="row">
	<br/>
	{% for message in messages %}

		{%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success alert-dismissable text-center" id="error_msg">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			{{message }}
		 </div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger alert-dismissable text-center" id="error_msg">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			{{message }}
		 </div>
	{% endif %}
	{% endfor %}
</div>
<br/>
{% endif %}


<div class="row">
  <div class="col-lg-12 page-header">
    <h3 class="text-center">Update quiz {{quiz.quiz_id}} of lesson <a href="#">{{lesson.title}} </a> of module <a href="#">{{lesson.module.title}}</a> </h3>
</div>
</div>

<div class="row">
  <div class="col-lg-12 page-header">

		<h4>Fill in the form below to start creating a new lesson. A lesson has the following required items:</h4>
		<h4>
			<ul>
				<li>A title</li>
				<li>HTML text content</li>
				<li>A list of tags</li>
				<li>An optional list of images</li>
				<li>A meta description</li>
			</ul>
		</h4>
		<h3>Apart from the title field, you will be able to change the rest of the fields.</h3>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header section-heading upperframe-logo-second">General Text</h2>
		<h4>This is H4 header and it is used for the lesson text.</h4>
	</div>
</div>

<div class="row">
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<div class="col-lg-12">
		<h2 class="page-header section-heading upperframe-logo-second">Code Snippets</h2>
		<h4>We use run_prettify.js to render code snippets. To add code snippets in your post:</h4>
	</div>
<blockquote>
<pre class="prettyprint">
//include the following url
&lt;script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"&gt&lt;/script&gt;
</pre>
</blockquote>

<div class="col-lg-12">
	<h4>Wrap your code snippt as shown below</h4>
</div>
<blockquote>
<pre class="prettyprint">
&lt;pre class="prettyprint"&gt;
//your code snippet
&lt;pre&gt;
</pre>
</blockquote>

<div class="col-lg-12">
	<h4>Here is a sample</h4>
</div>

<blockquote>
<pre class="prettyprint">
#include &lt;omp.h&gt;
#pragma omp parallel
{
int thread_id = omp_get_thread_num();
int n_threads = omp_get_num_threads();
std::cout<<"Hi from thread "&lt;&lt;thread_id&lt;&lt;" of "&lt;&lt;n_threads&lt;&lt;std::endl;
}
</pre>
</blockquote>
<div class="col-lg-12">
	<h4> The pre tag renders what is included within it as is so white spaces are preserved. </h4>
</div>
</div><!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header section-heading upperframe-logo-second">Math Expressions</h2>
		<h4>We use the mathjax library to render mathematical formulae. To render maths: </h4>
	</div>
<blockquote>
	<pre class="prettyprint">
//include the following into your script.
&lt;script type="text/x-mathjax-config"&gt;
MathJax.Hub.Config({
tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
&lt;/script&gt;
&lt;script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"&gt;
&lt;/script&gt;
	</pre>
</blockquote>
<div class="col-lg-12">
	<h4> We can have inline or block displayed mathematical formulas.
For box display simply wrap the expression between two dollar signs and use Latex symbols : </h4>
</div>

<blockquote>
<pre class="prettyprint">
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
</pre>
</blockquote>
<div class="col-lg-12">
	<h4>For inline display use either of the two: </h4>
</div>
<blockquote>
<pre class="prettyprint">
$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$, or \(ax^2 + bx + c = 0\)
</pre>
</blockquote>
</div>

<div class="row">
	<div class="col-lg-12">
	<h2 class="page-header section-heading upperframe-logo-second">Inserting Images</h2>
	<h4>Inserting images requires three actions:</h4>
	<h4>
		<ul>
			<li>Indicate the image(s) in your script by using the img tag.</li>
			<li> The src attribute should point to: /public/blog/{{thepost.0.slug}}/img</li>
			<li>Upload your images</li>
		</ul>
	</h4>
</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <form method="post" action="{% url 'ecms_course_create_app:lesson_create_quiz_view' lesson.module.course.slug lesson.module.slug lesson.slug %}" enctype="multipart/form-data">
    {% csrf_token %}

		{% for question in quiz.lesson_quiz_questions.all %}
			<h2 class="page-header">Question {{question.order_id}}</h2>

			<div class="form-group">
				<label for="q{{forloop.counter}}">Question Context<span style="color:red;">*</span></label>
				<textarea cols="40"  name="q{{forloop.counter}}" rows="10" class="form-control">{{question.question}}</textarea>
			</div>

			<div class="form-group">
				<label for="q{{forloop.counter}}type">Question Type:</label> {{question.qtype.type}}
			</div>

			{% for option in question.lesson_quiz_question_options.all %}

				<div id="q-{{forloop.parentloop.counter}}-opt-{{forloop.counter}}-given">
						<div class="form-group">
							<label for="opt-{{forloop.counter}}-q-{{forloop.parentloop.counter}}">Option {{forloop.counter}}</label>
							<input type="text" class="form-control"  name="opt-{{forloop.counter}}-q-{{forloop.parentloop.counter}}" value="{{option.context}}" maxlength="200"/>
						</div>
				</div>

				<div class="form-group">
					<label for="active{{forloop.counter}}">Active</label>
					<input checked="checked" name="active1" type="checkbox" />
					<p class="help-block">An active question option means that it can be viewd by the students. Uncheck if this is not true.</p>
				</div>

			{% endfor %}

			<div id="q{{forloop.counter}}opts" class="form-group">
				<label for="q{{forloop.counter}}type">Change Question Type</label>
				<select id="id_qtype_{{forloop.counter}}" name="q{{forloop.counter}}type" title="q1type" class="form-control">
						<option value="none-q-type">Select question type</option>
						<option value="radio">Radio</option>
						<option value="checkbox">Checkbox</option>
					</select>
			</div>

			<div id="qselect_q_{{forloop.counter}}">
				<div class="form-group">
					<label for="q{{forloop.counter}}typeopts-{{forloop.counter}}">Add Options</label>
					<select id="id_qtypeopts-{{forloop.counter}}" name="q{{forloop.counter}}typeopts-{{forloop.counter}}" class="form-control" onchange="show_option_fields(1)">
							<option value="none-n-opts">Select number of options</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
					</select>
					<p class="help-block">Select number of new options to add. </p>
				</div>
			</div>

			<div id="q-{{forloop.counter}}-opt-1" class="hidden">
					<div class="form-group">
						<label for="opt-1-q-{{forloop.counter}}">New Option 1<span style="color:red;">*</span></label>
						<input type="text" class="form-control"  name="opt-1-q-{{forloop.counter}}" maxlength="200"/>
					</div>
			</div>

				<div id="q-{{forloop.counter}}-opt-2" class="hidden">
					<div class="form-group">
						<label for="opt-2-q-{{forloop.counter}}">New Option 2<span style="color:red;">*</span></label>
						<input type="text" class="form-control" name="opt-2-q-{{forloop.counter}}" maxlength="200"/>
					</div>
				</div>

			<div id="q-{{forloop.counter}}-opt-3" class="hidden">
				<div class="form-group">
					<label for="opt-3-q-{{forloop.counter}}">New Option 3<span style="color:red;">*</span></label>
					<input type="text" class="form-control"  name="opt-3-q-{{forloop.counter}}" maxlength="200"/>
				</div>
			</div>

			<div id="q-{{forloop.counter}}-opt-4" class="hidden">
				<div class="form-group">
					<label for="opt-4-q-{{forloop.counter}}">New Option 4<span style="color:red;">*</span></label>
					<input type="text" class="form-control"  name="opt-4-q-{{forloop.counter}}" maxlength="200"/>
				</div>
			</div>

			<div id="q-{{forloop.counter}}-opt-5" class="hidden">
				<div class="form-group">
					<label for="opt-5-q-{{forloop.counter}}">New Option 5<span style="color:red;">*</span></label>
					<input type="text" class="form-control" name="opt-5-q-{{forloop.counter}}" maxlength="200"/>
				</div>
			</div>

			<div class="form-group">
				<label for="caq{{forloop.counter}}">Correct Answer<span style="color:red;">*</span></label>
				<input type="text" class="form-control" id="id_caq{{forloop.counter}}" name="caq{{forloop.counter}}" maxlength="200" value="{{question.correct_answer}}" />
				<p class="help-block">Provide a comma separated list of correct answers if this is a radio or checkbox question. </p>
			</div>


			<div class="form-group">
				<label for="explq{{forloop.counter}}">Explanation</label>
				<textarea cols="40"  name="explq{{forloop.counter}}" rows="10" class="form-control" >{{question.explanation}}</textarea>
				<p class="help-block">Provide an explanation about the answer. Leave blank if none. </p>
			</div>

			<div class="form-group">
				<label for="photo{{forloop.counter}}">Photo</label>
				<input type="file" name="photo{{forloop.counter}}">
				<p class="help-block">Add a photo used in the question. </p>
					{% if photo1 %}
						{% for error in photo1 %}
								<p class="help-block" style="color:red;">{{error}}</p>
						{% endfor %}
					{% endif %}
				</div>

			<div class="form-group">
				<label for="active{{forloop.counter}}">Active</label>
				<input checked="checked" name="active{{forloop.counter}}" type="checkbox" />
				<p class="help-block">An active question means that it can be viewd by the students. Uncheck if this is not true.</p>
			</div>

		{% endfor %}

     <input type="hidden" name="next" value="{{ next }}" />
     <div class="text-center">
       <button type="submit" class="btn btn-primary" id="submit-btn">Update</button> <button type="submit" name="cancel" class="btn btn-primary" formnovalidate>Cancel</button>
     </div>
   </form>
 </div>
</div>
<br/>
</div>
{% endblock %}
