<div class="container" id="container-footer">
  <footer id="footer"><!-- Footer -->
    <div class="row footer-top-row">
      <div class="col-md-4">
        <a href="{% url 'ustdy_app:ustdy_index' %}"><h4 class="ustdy-header-three"><strong>U<i class="fa fa-arrow-circle-right fa-1x"></i>studynow</strong></h4></a>
        <ul class="list-unstyled list-inline list-social-icons">
		      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
		      <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
		      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
		    </ul>
      </div>
      <div class="col-md-4">
        <h4 class="ustdy-header-three"><strong>COMPANY</strong></h4>
        <ul class="list-unstyled list-social-icons">
		      <li><a href="{% url 'ustdy_app:about_view' %}">About</a></li>
          <li><a href="{% url 'contact_app:contact_index' %}">Contact</a></li>
         </ul>
		   </div>
       <div class="col-md-4">
          <h4 class="ustdy-header-three"><strong>PLATFORM</strong></h4>
           <ul class="list-unstyled list-social-icons">
             <li><a href="{% url 'ecms_app:courses_catalog_view' %}">Cources</a></li>
             <li><a href="{% url 'contact_app:contact_hire' %}">Hire a tutor</a></li>
             <li><a href="{% url 'ustdy_app:host_your_courses_view' %}">Hosting</a></li>
		         <li><a href="{% url 'library_app:library_index' %}">Library</a></li>
             <li><a href="{% url 'tests_app:tests_index' %}">On-line Tests</a></li>
             <li><a href="{% url 'account_app:login_index' %}" >Log in</a></li>
           </ul>
      </div>
    </div>

		<div class="row footer-btm-row">
			<div class="col-lg-12 text-center">
           <p>Copyright &copy; <a href="{% url 'ustdy_app:ustdy_index' %}">U<i class="fa fa-arrow-circle-right fa-1x"></i>studynow</a> <!--| Developed By <a href="#">UpperFrameworks</a>--></p>
      </div>
    </div>
 </footer>
</div><!-- /.container -->

		{% load staticfiles %}
    <script src="{% static "cssjsfonts/js/jquery.js" %}"></script>
    <script src="{% static "cssjsfonts/js/bootstrap.min.js" %}"></script>
    <script src="{% static "cssjsfonts/js/elearncms.js" %}"></script>
		{% block extra_js %}{% endblock %}
