{% extends "base.html" %}
{% block title %}Ustdy-Tests{% endblock %}

{% block content %}

<!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 id = "ustdy-services" class="page-header"><strong>Education</strong></h1>
            </div>
            <div class="col-md-4">
                <div id="find-courses" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check" style="color:#2a75ed;"></i>Find courses</h4>
                    </div>
                    <div id="find-courses-link" class="panel-body">
                        <p>Find free and under payment courses on various subjects.</p>
                        <a href="#" class="btn btn-info" id="courses-catalog-link">Courses Catalog</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-arrow-circle-o-up" style="color:#2a75ed;"></i>Hire a Tutor</h4>
                    </div>
                    <div class="panel-body">
                        <p>Hire a tutor to assist you in your classes, assignements and dissertations.</p>
												<p></p>
                        <a href="#" class="btn btn-info">Request Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass" style="color:#2a75ed;"></i>Test your knowledge</h4>
                    </div>
                    <div class="panel-body">
                        <p>Find technical tests to assess your knowledge.</p>
                        <a href="#" class="btn btn-info">Tests Catalog</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

				<div class="row">
						<div class="col-lg-12">
                <h1 id = "ustdy-services" class="page-header"><strong>Services</strong></h1>
            </div>
           
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-book" style="color:#2a75ed;"></i>Find Notes</h4>
                    </div>
                    <div class="panel-body">
                        <p>Find free and under payment university notes on various subjects.</p>
                        <a href="#" class="btn btn-info">Library</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-cubes" style="color:#2a75ed;"></i> LMS Development</h4>
                    </div>
                    <div class="panel-body">
                        <p>We can assist you develop your own learning management system.</p>
                        <a href="#" class="btn btn-info">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-cloud-upload" style="color:#2a75ed;"></i>Host Your Courses</h4>
                    </div>
                    <div class="panel-body">
                        <p>Develop and host your courses with minimal fees.</p>
                        <a href="#" class="btn btn-info">Tell Me More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

				<!-- Portfolio Section -->
        <!--<div class="row">
						{% load static %}
            <div class="col-lg-12">
                <h2 class="page-header"><strong>Courses</strong></h2>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Computational Fluid Dynamics</a>
								</h4>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Descriptive Statistics</a>
								</h4>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Fluid Mechanics</a>
								</h4>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Algorithms & Data Structures</a>
								</h4>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Algorithms & Data Structures</a>
								</h4>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="{{MEDIA_URL}}courses/index_images/idx1.jpg" alt="">
                </a>
								<h4>
									<a href="#">Algorithms & Data Structures</a>
								</h4>
            </div>
						<div class="text-center">
						<a class="btn btn-info" href="#">More Courses</a>
						</div>
        </div>-->
        <!-- /.row -->

{% endblock %}
